body {
	background-color: black;
}

#landing-header {
	font-family: 'Audiowide', cursive;
	z-index: 1;
	position: relative;
	text-align: center;
	padding-top: 40vh;
}

#landing-header h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;
	font-size: 50px;
	border-bottom: 5px double rgb(74, 58, 58);
	border-top: 5px double rgb(74, 58, 58);
  color: #fff;
}

.btn-black {
	color: white;
	background-color: black;
	border: 5px double rgb(74, 58, 58);
}

.btn-black:hover {
	color: black;
	background-color: white;
	border: 5px double rgb(74, 58, 58);
}

.btn-black:active, .open>.dropdown-toggle.btn-success {
	background-color: black;
	border: 5px double rgb(74, 58, 58);
}

.btn-black:active:focus {
	background-color: black;
	border: 5px double rgb(74, 58, 58);
}

.slideshow {
  position: fixed;
  /*Take up 100% of the page*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*Places images behind other content*/
  z-index: 0;
  /*Remove bullet points*/
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Style list items (pictures)*/
.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*allow images to take up entire page*/
  background-size: cover;
  /*Centre images on the page*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /*Images start faded out*/
  opacity: 0;
  z-index: 0;
  /*Allow images to fade in and out, loops infinatley*/
  animation: imageAnimation 50s linear infinite;
}

/*Background images*/
.slideshow li:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1507874457470-272b3c8d8ee2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bbaaf356e5f8bb5623631bf7f5f37b91&auto=format&fit=crop&w=500&q=60)
}
.slideshow li:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1514090743643-37a03f8a7272?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64325d6184f461385e117428f6b5ee0c&auto=format&fit=crop&w=500&q=60);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1493676304819-0d7a8d026dcf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1526f9922846871b29cbdacf259c5449&auto=format&fit=crop&w=500&q=60);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1470229538611-16ba8c7ffbd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3acdc9ebaa62c41d40a8f1484b9a7943&auto=format&fit=crop&w=500&q=60);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=be465b88fdf21a6e05ab522458452344&auto=format&fit=crop&w=500&q=60);
  animation-delay: 40s;
}

/*Fades images in and out*/
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
