body {
	font-family: 'Audiowide', cursive;
	background: linear-gradient(
    to bottom,
    black,
    rgba(255, 0, 0, 0)
  )
}

.btn-black {
	color: white;
	background-color: black;
	border: 5px double rgb(74, 58, 58);
}

.btn-black:hover {
	color: black;
	background-color: white;
	border: 5px double rgb(74, 58, 58);
}

.btn-black:active, .open>.dropdown-toggle.btn-success {
	background-color: black;
	border: 5px double rgb(74, 58, 58);
}

.btn-black:active:focus {
	background-color: black;
	border: 5px double rgb(74, 58, 58);
}

.btn-white {
	color: black;
	background-color: white;
	border: 5px double rgb(74, 58, 58);
}

.btn-white:hover {
	color: white;
	background-color: black;
	border: 5px double rgb(74, 58, 58);
}

.btn-white:active, .open>.dropdown-toggle.btn-warning {
	color: black;
	background-color: white;
	border: 5px double rgb(74, 58, 58);
}

.btn-white:active:focus {
	background-color: black;
	border: 5px double rgb(74, 58, 58);
}

.login {
	color: white;
	text-align: center;
	padding-top: 10%;
}

input[type=submit] {
	color: black;
	background-color: white;
	border: 5px double rgb(74, 58, 58);
}

a {
	color: black;
}

.thumbnail img {
	width: 100%;
	/*max-height: 500px;*/
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline;
}

h1 {
	color: black;
}
