<% include ../partials/header %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Create A New Festival</h1>

		<div style="width: 30%; margin: 35px auto;">
			<!-- Create form to add festival -->
			<form action="/festivals" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="Name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="image" placeholder="image url">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="description" placeholder="Festival description">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="price" placeholder="Price" min="0.01" step="0.01">
				</div>
				<div class="form-group">
					<button class="btn btn-black btn-lg btn-block">Submit</button>
				</div>
			</form>
			<!-- Link to festivals page -->
			<a href="/festivals">Go Back To Festivals Page</a>
		</div>
	</div>
</div>

<% include ../partials/footer %>
